#fc-44418 {
  position: relative;
  top: 1px;
}

#datenschutz-toggle {
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #CCD1D9;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

  #datenschutz-toggle > span {
    display: inline-block;
    height: 11px;
    line-height: 11px;
    vertical-align: top;
    font-size: 7px;
    text-transform: uppercase;
    color: #fff;
    background: #CCD1D9;
    border: 0 none;
    margin: 1px;
    padding: 0px 6px 0px 0px;
  }

  #datenschutz-toggle > span > span {
    position: relative;
    top: -1px;
  }

  #datenschutz-toggle > span::before {
    display: inline-block;
    content: '?';
    font-size: 7px;
    color: #CCD1D9;
    background: #fff;
    height: 11px;
    width: 12px;
    line-height: 11px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin: 0 6px 0 0;
    padding: 0;
  }

  #datenschutz-toggle:hover {
    border: 1px solid #888a8d;
  }
  #datenschutz-toggle:hover > span {
    background: #888a8d;
  }
  #datenschutz-toggle:hover > span::before {
    color: #888a8d;
  }

  #datenschutz-toggle:active {
    border: 1px solid #becbe0;
  }
  #datenschutz-toggle:active > span {
    background: #becbe0;
  }
  #datenschutz-toggle:active > span::before {
    color: #becbe0;
  }

  #datenschutz-toggle.active {
    border: 1px solid #3083ff;
  }
  #datenschutz-toggle.active > span {
    background: #3083ff;
  }
  #datenschutz-toggle.active > span::before {
    color: #3083ff;
  }