.movable-window {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    /*border: 1px solid #3c5c7a;*/
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

.movable-window.focused {
    opacity: 1;
    z-index: 1001;
}

.window-content {
    position: absolute;
    top: 35px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: auto;
    scrollbar-width: thin;
}

.minimized .window-content {
    display: none;
}

div.movable-window-header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 30px;
    line-height: 30px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #ccc;
    cursor: default;
    text-align: center;
    user-select: none;
    color: #999;
    font-weight: bold;
    white-space: nowrap;
    word-wrap: none;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

button.movable-window-minimize-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('../gfx/minimize.png') no-repeat center center, #F5F5F5;
    border: #999 1px solid;
    border-radius: 4px;
    opacity: 0.5;
}

    button.movable-window-minimize-btn:hover {
        opacity: 1;
    }

.minimized button.movable-window-minimize-btn {
    background: url('../gfx/maximize.png') no-repeat center center, #F5F5F5;
}

div.movable-window-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    cursor: move;
}

div.movable-window-grip {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F5F5F5;
    /*background: #5c99d3;*/
    cursor: pointer;
    border: 1px solid #ccc;
    /*border: 1px solid #3c5c7a;*/
    border-radius: 4px;
}

div.movable-window-grip:hover {
    background: #fff;
    background: #d7ebff;
}

.minimized div.movable-window-grip:hover {
    background: #F5F5F5;
}

div.movable-window-grip.grip-top {
    top: 0;
    left: 10px;
    right: 10px;
    height: 5px;
    width: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    cursor: ns-resize;
}

div.movable-window-grip.grip-bottom {
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 5px;
    width: auto;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    cursor: ns-resize;
}

div.movable-window-grip.grip-left {
    top: 10px;
    left: 0;
    bottom: 10px;
    width: 5px;
    height: auto;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0;
    cursor: ew-resize;
}

div.movable-window-grip.grip-right {
    top: 10px;
    right: 0;
    bottom: 10px;
    width: 5px;
    height: auto;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    cursor: ew-resize;
}

div.movable-window-grip.grip-top-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
    border-top: none;
    border-left: none;
}

div.movable-window-grip.grip-top-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
    border-top: none;
    border-right: none;
}

div.movable-window-grip.grip-bottom-left {
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
    border-bottom: none;
    border-left: none;
}

div.movable-window-grip.grip-bottom-right {
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
    border-bottom: none;
    border-right: none;
}

.minimized div.movable-window-grip {
    cursor: default !important;
}