html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  font-family: arial;
}

table.layout {
  margin: 25px auto;
}

table.layout td {
  border: 1px solid #F0F0F0;
  background: #FEFEFE;
}

table.layout td div {
  margin: 5px;
}

#object-list select {
  min-width: 600px;
  border: 0 none;
  background: #FEFEFE;
  scrollbar-width: thin;
}

#menu > div {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  border-radius: 3px;
}

#menu > div:hover {
  background: #E0F0FF;
}

#menu > div label input,
#menu > div label span{
  user-select: none;
  cursor: pointer;
}

#menu {
  user-select: none;
}

#menu input {
  vertical-align: middle;
}

#menu > button {
  margin: 0 20px 0 0;
}

table.properties {
  width: 400px;
}

table.properties td {
  border: 0 none;
  border-bottom: 1px solid #EEE;
}

table.properties td.name-display {
  text-align: right;
  padding: 0 10px;
}

table.properties td.type-name-display {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

#code-content {
  font-family: monospace;
  overflow: auto;
  white-space: pre;
  word-break: none;
  padding: 0;
  cursor: text;
  max-height: 200px;
  height: 200px;
  width: 100%;
  resize: none;
  scrollbar-width: thin;
  border: 1px solid #ccc;
  background-color: #F5F5F5;
  line-height: 1.4;
  border: 0 none;
  outline: none;
}


#code {
  position: relative;
}

#code button {
  position: absolute;
  top: 10px;
  right: 25px;
}

td.empty-qm {
  padding: 50px 0;
  font-size: 150px;
  color: #F7F7F7;
}

#code-td {
  background: #F5F5F5;
}

button.add-obj,
button.remove-btn {
  margin: 10px 0px 5px 0px;
  padding: 5px 20px;
  width: 200px
}

button.remove-btn {
  color: red;
  font-weight: bold;
}

.color-input,
.color-input span,
.color-input input{
  vertical-align: middle;
  line-height: 18px;
  height: 25px;
  margin: 0;
}
.color-input input[type=number] {
  height: 18px;
}

table.path-points input {
  width: 60px;
}

table.path-points input.path-point-selection {
  width: 20px;
}

button.rm-path-point {
  color: red;
}

button.control-btn {
  padding: 2px 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
}

button.control-btn:hover {
  background: #f0f0f0;
}


div.path-point-list {
  position: relative;
  overflow: auto;
  max-height: 200px;
  scrollbar-width: thin;
}

div.path-list-buttons {
  width: 190px;
  text-align: center;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, .8);
}

#top-links {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
}

#top-links a {
  color: #666;
  text-decoration: none;
  margin: 0 5px;
}

#top-links a:hover {
  color: #000;
  text-decoration: underline;
}

#datenschutz {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 400px;
  font-size: 16px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 
              0 0 20px rgba(0,0,0,0.05);
  border: 1px solid #f0f0f0;
  z-index: 1000;
  text-align: justify;
}

#datenschutz h2 {
  font-size: 20px;
  margin: 10px 0;
}

.hidden {
  display: none;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*   New Layout Styles */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

html,
body,
div#main-content {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  font-family: arial;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

div#main-content {
  position: relative;
  box-sizing: border-box;
  border: 8px solid #FEFEFE;
  min-width: 1000px;
  min-height: 800px;
  overflow: hidden;
}

div.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div#top-links {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 14px;
}

div#menu {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 30px;
  line-height: 30px;
}

div#fastcounter {
  position: absolute;
  top: 0;
  left: 10px;
}

div#main-canvas {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  div#main-canvas.grid-on {
    background: url(../gfx/grid_bg.png) repeat center center;
  }
  div#main-canvas.grid-dot {
    background: url(../gfx/grid_dot_bg.png) repeat center center;
  }
  div#main-canvas.grid-off {
    background: #fff;
  }

div#main-canvas canvas {
  background: transparent;
  display: block;
}